{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Post unique – 3 (mobile, techan.fr) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9979120049846119"
     data-ad-slot="1664305982"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{ $data := .Data }}
<div class="container">
  <div class="section">

    <div class="collection">
      {{ range $key, $value := .Data.Terms }}
        <a href="{{$baseurl}}/{{ $data.Plural }}/{{ $key | urlize }}" class="collection-item">{{ if eq $data.Plural "tags"}}<i class="mdi-action-loyalty left"></i>{{else}}<i class="mdi-action-perm-media left"></i>{{end}}{{ $key }}<div class="secondary-content">{{ len $value }}</div></a>
      {{ end }}
    </div>

  </div>
</div>
{{ partial "footer.html" . }}
